{% extends 'base.html.twig' %}

{% block title %}GenWod{% endblock %}

{% block body %}

<h1>Bienvenue dans Genwod !</h1>
<p>Magna ut excepteur ut voluptate aliquip non consequat enim. Elit commodo aliqua qui exercitation dolor pariatur amet qui commodo. Est laboris eu enim minim aliqua eu velit cupidatat aliquip cupidatat anim laborum esse. Aute labore velit amet sunt ex ullamco consequat et aute nisi anim elit quis esse. Sunt et deserunt qui cillum adipisicing officia in do labore minim consequat irure. Ad ut anim ex proident ad laboris enim minim. Fugiat qui esse duis ex esse incididunt incididunt amet aute magna aute laboris.</p>
{% endblock %}
